body {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
    background-color: cornsilk

    ;
	font-size: 1.2em;
}

a:hover {color: #f00}

header,

{
	background-color: cornsilk;
	font-size: 1.5em;
}
footer,
{
    background-color: cornsilk;
    font-size: 1em;

}


header h1 {
    text-align: center;
	color: #ff0000

	
}

h1, h3 {
	margin: .33em;
}

h1 {
	font-size: 2.5em;
}



section {
	margin: 2em;
}



nav ul {
	text-align: center;
	padding: 0;

}

nav ul li {
	
	margin-right: 2em;
	font-size: 1em;
	background-color: #ccc;
	border-top: 1px solid #777;
	padding: 5px 0
}
li {
	padding: .6em 0 .3em
}

	
   


p {
    
    margin: 2em
}

figure {
	margin: 3em;
	padding: 0;
	text-align: center;
}

figcaption {
	font-style: italic;
}

footer {
	text-align: center;
	padding: 3em;
	font-style: italic
}

footer p {
	display: inline-block;
}

img {
	width: 100%;
	max-width: 100%;
}

@media screen and (max-width: 680px) {
	nav ul li {
		margin: 1em 0;
		display: block;
		font-size: 1em;
	}
	body {
		font-size: 50%;
	}
}

.list {
	background-color: #ECDEDE;
	padding: 2em;
	margin: 2em 
}